# Q&A Activity on Testing of Hypothesis (Week 8)

In [1]:
# importing necessary libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

### 1. Carry out descriptive analytics on the dataset.

In [2]:
data = pd.read_csv('Week_8_Q&A_dataset - Sheet1.csv')
data.head()

   Gender Test preparation  Total Marks
0    male             none           14
1  female             none           28
2  female             none           18
3  female             none           48
4  female             none           21

Identifying the columns and it's data type in the data set

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            28 non-null     object
 1   Test preparation  28 non-null     object
 2   Total Marks       28 non-null     int64
dtypes: int64(1), object(2)
memory usage: 800.0+ bytes

Finding the measures of central tendancy for the quantitative column in the data set:

In [4]:
data.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

Analyzing student's performance based on gender:

In [7]:
data.shape

(28, 3)

There are only 28 rows.

In [8]:
data['Gender'].unique()

array(['male', 'female'], dtype=object)

In [9]:
data['Test preparation'].unique()

array(['none', 'completed'], dtype=object)

We can divide the population into two independent samples based on either gender or test preparation. Also the sample size is less than 30 and the population variance is not given. So we can perform Independent samples t-test / two sample t-test over the dataset.

### 2. Check whether female and male students scored the same marks.

First of all, we form the null(Ho) and alternate hypothesis(Ha) as:\
**Ho:** Female and male students scored the same marks.\
**Ha:** Female and male students didn't scored the same marks.

In [10]:
data['Gender'].unique()

array(['male', 'female'], dtype=object)

In [11]:
male_data = data[data['Gender'] == 'male']
female_data = data[data['Gender'] == 'female']

In [12]:
degrees_of_freedom = male_data.shape[0] + female_data.shape[0] - 2
significance_level = 0.05
print(f'Degrees of freedom = {degrees_of_freedom}')

Degrees of freedom = 26

Forming the decision rule with significance level 0.05 and degrees of freedom 26:

In [13]:
t_critical_value = stats.t.ppf(q=significance_level,df=degrees_of_freedom)
print(f'T critical value = {t_critical_value}')

T critical value = -1.7056179197592731

Decision rule: If t value is less than -1.705 or greater than 1.705, reject the null hypothesis.

Now, calculating the test statistic (t value):

In [14]:
ttest_1,pval_1 = stats.ttest_ind(male_data['Total Marks'], female_data['Total Marks'])
print(f'Test statistic ttest = {ttest_1}')

Test statistic ttest = -0.6940885268848668

In [21]:
print(f'Whether t value is between -1.705 and 1.705: {ttest_1 > t_critical_value and ttest_1 < abs(t_critical_value)}')

Whether t value is between -1.705 and 1.705: True

Here t value(-0.69) is between -1.705 and 1.705. So, we are not rejecting the null hypothesis Ho

**Conclusion:** Female and male students scored the same mark.

### 3. Whether test preparation helps the students?

First of all, we form the null(Ho) and alternate hypothesis(Ha) as:
Ho: Students who completed the test preparation and those who didn't scored the same marks.
Ha: Students who completed test preparation scored more than who didn't.

In [15]:
data['Test preparation'].unique()

array(['none', 'completed'], dtype=object)

In [16]:
with_preparation = data[data['Test preparation'] == 'completed']
without_preparation = data[data['Test preparation'] == 'none']

In [17]:
degrees_of_freedom = with_preparation.shape[0] + without_preparation.shape[0] - 2
significance_level = 0.05
print(f'Degrees of freedom = {degrees_of_freedom}')

Degrees of freedom = 26

Forming the decision rule with significance level 0.05 and degrees of freedom 26:

In [18]:
t_critical_value = stats.t.ppf(q=significance_level,df=degrees_of_freedom)
print(f'T critical value = {t_critical_value}')

T critical value = -1.7056179197592731

Decision rule: If t value is less than -1.705 or greater than 1.705, reject the null hypothesis.

In [19]:
ttest_2, pval_2 = stats.ttest_ind(with_preparation['Total Marks'], without_preparation['Total Marks'])
print(f'Test statistic ttest = {ttest_2}')

Test statistic ttest = 3.6143637527769217

In [20]:
print(f'Whether t value is between -1.705 and 1.705: {ttest_2 > t_critical_value and ttest_2 < abs(t_critical_value)}')

Whether t value is between -1.705 and 1.705: False

Here t value does not lie between the critical values. So we can reject the null hypothesis.

**Conclusion:** Students who completed the test preparation out-performed those who didn't