In [1]:
import pandas as pd

### 1. Analysing the Dataset

In [24]:
# reading the dataset
adv_data = pd.read_csv('Dataset/Advertising.csv')
adv_data.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

Checking the columns in the dataset

In [23]:
adv_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

This dataset describes about the sales achieved through different advertising modes namely, _"TV"_, _"Radio"_ and _"Newspaper"_ and the respective sales obtained.

In [22]:
adv_data.isnull().sum()

Unnamed: 0    0
TV            0
Radio         0
Newspaper     0
Sales         0
dtype: int64

There are no  null values in the data set

### 2. Summary Statistics

Let's look at the statistics of the dataset

In [5]:
adv_data.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

The mean amount spend for TV advertising is very larger than Radio and Newspaper.

### 3. Performing F-statistic

Let's formulate the hypotheses: \
Null hypothesis, **Ho** = _The same amount was spend for all the 3 advertisements_. \
Alternate hypothesis, **Ha** = _The same amount was not spend for all 3 advertisements_.

In [35]:
ho = 'The same amount was spend for all the 3 advertisements.'
ha = 'The same amount was not spend for all 3 advertisements. There\'s a significant difference in the amount spend for all 3 modes of advertisement.'

In [36]:
adv_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [37]:
from scipy.stats import f_oneway

In [38]:
stats, p = f_oneway(adv_data['TV'], adv_data['Radio'], adv_data['Newspaper'])
print(f'f_stat = {stats}, p = {p}')

f_stat = 358.8514595342597, p = 4.552931539744962e-103

In [39]:
if p <= 0.05:
    print(f'Reject null hypothesis and accept alternate hypothesis Ha = {ha}')
else:
    print(f'Accept null hypothesis, Ho = {ho}')

Reject null hypothesis and accept alternate hypothesis Ha = The same amount was not spend for all 3 advertisements. There's a significant difference in the amount spend for all 3 modes of advertisement.